[submodule "third_party/SDPDFCore"]
	path = third_party/SDPDFCore
	url = https://github.com/SaltDogProject/SDPDFCore.git
[submodule "docs"]
	path = docs
	url = https://github.com/SaltDogProject/docs.git
[submodule "third_party/saltdog_npm"]
	path = third_party/saltdog_npm
	url = https://github.com/SaltDogProject/saltdog_npm.git
