[submodule "modules/translators"]
	path = modules/translators
	url = https://github.com/SaltDogProject/translators
[submodule "modules/utilities"]
	path = modules/utilities
	url = https://github.com/SaltDogProject/utilities.git
[submodule "modules/translate"]
	path = modules/translate
	url = https://github.com/SaltDogProject/translate.git
[submodule "modules/zotero-schema"]
	path = modules/zotero-schema
	url = https://github.com/SaltDogProject/zotero-schema.git
