<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Sidebar2</title>
    </head>
    <body>
        <div class="sidebar">haha!2</div>
        <script>
            console.log('hello world');
            console.log(window.saltdog);
            // window.postMessage('hello world');
            saltdog.send('helloWorld');
        </script>
    </body>
</html>
